</div>
<!-- #main -->
</div>
<!-- #main-container -->

<div class="footer-container">
    <footer>
        <div class="wrap">
            <div class="row">
                <a class="donate" href="bitcoin:15F9gwrtuMjAUWxaCMKvSkzEfWbJEizEXs" label="Bitcoin+Donation" style="word-wrap: break-word;">
                    <img border="0" src=" /images/bitcoin.png" style="margin: 0 auto;;">
                </a>
            </div>
            <div class="row footer-sign-up">
                <div class="col-md-5 col-xs-12">
                    <p>Keep safe, subscribe to be the updated on our campaigns.</p>
                </div>
                <div class="col-md-7 col-xs-12">
                    {{ partial "email.html" . }}
                </div>
            </div>

            <hr class="hidden-xs">
            <div class="navbar  hidden-xs">
                <ul class="navigation nav nav-justified">
                    {{ partial "nav.html" . }}
                </ul>
            </div>
            <div class="container in-holland ">
                <img src="{{.Site.BaseURL }}/images/Logo-white.png" alt="Founded in Holland">
                <br><br>
            </div>
        </div>
    </footer>
</div>
