<section id="info">
    <div class="wrap">
        <div class="section-header">
            <h2>What we do</h2>
            <p>Scanning the internet for known vulnerabilities and issues.</p>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 icon-1 icon col-xs-12">
                <div class="row">
                    <div class="icon-container col-md-2 col-xs-2 col-sm-6">
                        <img src="images/icons/tools.svg" alt="">
                    </div>
                    <div class="col-md-10 col-xs-10" >
                        <h3>Why?</h3>
                        <p>There are a lot of existing vulnerabilities in websites. This endangers millions of users. We believe we make the internet safer by disclosing those issues and allowing website owners to fix the issues.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 icon-2 icon   col-xs-12 ">
                <div class="row">
                    <div class="icon-container col-md-2 col-xs-2 ">
                        <img src="images/icons/alarmclock.svg" alt="">
                    </div>
                    <div class="col-md-10 col-xs-10">
                        <h3>ANAM</h3>
                        <p>We are using ANAM (Automated Network Analysis en Mass) to scan for known vulnerabilities. ANAM is a tool written in Go (which we love) and uses a custom tcp stack, allowing high scanning speeds.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 icon-3 icon   col-xs-12  ">
                <div class="row">
                    <div class="icon-container col-md-2 col-xs-2 ">
                        <img src="images/icons/global.svg" alt="">
                    </div>
                    <div class="col-md-10  col-xs-10">
                        <h3>Enthusiasts</h3>
                        <p>We are security- and technology enthusiasts who loves to build tooling to improve the internet.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 icon-4 icon   col-xs-12">
                <div class="row">
                    <div class="icon-container col-md-2 col-xs-2 ">
                        <img src="images/icons/browser.svg" alt="">
                    </div>
                    <div class="col-md-10  col-xs-10">
                        <h3>How to fix</h3>
                        <p>Most of the time the vulnerablities are caused by small configuration errors which are easy to fix. In our reports we'll include some tips to fix the issues.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--
                <div class="row">
            <div class="col-md-6 col-sm-6 icon-3 icon   col-xs-12">
                <div class="row">
                    <div class="icon-container col-md-2 col-xs-2 ">

                        <img src="images/icons/gears.svg" alt=""> 
                    </div>
             <div class="col-md-10  col-xs-10">
                        <h3>Customizable</h3>
                        <p>All kinds of honeypot environments are available or can be created. For example a vulnerable Wordpress environment.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 icon-4 icon  col-xs-12 ">
                <div class="row">
                    <div class="icon-container col-md-2 col-xs-2 ">

                        <img src="images/icons/layers.svg" alt="">
                    </div>
                    <div class="col-md-10  col-xs-10">
                        <h3>Container Technology</h3>
                        <p>Our high-interaction honeypots are based on a container technology, each attacker will get it`s own personal environment.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6  icon-5 icon   col-xs-12">
                <div class="row">
                    <div class="icon-container col-md-2 col-xs-2 ">
                        <img src="images/icons/notebook.svg" alt="">
                    </div>
                    <div class="col-md-10  col-xs-10">
                        <h3>Extensive logs</h3>
                        <p> All traffic and files are being saved and analyzed. Memory dump is created, for the forensic analysis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 icon-6  icon  col-xs-12">
                <div class="row">
                    <div class="icon-container col-md-2 col-xs-2 ">

                        <img src="images/icons/adjustments.svg" alt="">
                    </div>
                    <div class="col-md-10  col-xs-10">
                        <h3>Run your own honeypot</h3>
                        <p>Customization not enough? Please, contact us for more information</p>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
    <br><br>
</section>
