<section id="info">
    <div class="wrap">
        <div class="section-header">
            <h2>What we do</h2>
            <p>We maintain a huge, real time, fast growing database<br>with hacker info gathered by state of the art Honeypots.</p>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 icon-1 icon col-xs-12">
                <div class="row">
                    <div class="icon-container col-md-2 col-xs-2 col-sm-6">
                        <img src="images/icons/tools.svg" alt="">
                    </div>
                    <div class="col-md-10 col-xs-10" >
                        <h3>Why use honeypots?</h3>
                        <p>Honeypots allow you to lure and profile your attackers with great detail and record all evidence to be analyzed. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 icon-2 icon   col-xs-12 ">
                <div class="row">
                    <div class="icon-container col-md-2 col-xs-2 ">
                        <img src="images/icons/alarmclock.svg" alt="">
                    </div>
                    <div class="col-md-10 col-xs-10">
                   <h3>Immediate response</h3>
                        <p>Honeypots are excellent early-warning systems. Breaches and suspicious interest in your networks can be detected immediately.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 icon-3 icon   col-xs-12  ">
                <div class="row">
                    <div class="icon-container col-md-2 col-xs-2 ">

                        <img src="images/icons/global.svg" alt="">
                    </div>
                    <div class="col-md-10  col-xs-10">
                        <h3>How to use</h3>
                        <p>Install your own high-interaction honeypots and analyze your data via the Honeytrap portal or via the reporting services.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 icon-4 icon   col-xs-12">
                <div class="row">
                    <div class="icon-container col-md-2 col-xs-2 ">
                        <img src="images/icons/browser.svg" alt="">
                    </div>
                    <div class="col-md-10  col-xs-10">
                                <h3>Honeycast portal</h3>
                        <p>Manage all your honeypot installs and  investigate all your honeycast sessions, all in one place.</p>
                    </div>
                </div>
            </div>
        </div>
                <div class="row">
            <div class="col-md-6 col-sm-6 icon-3 icon   col-xs-12">
                <div class="row">
                    <div class="icon-container col-md-2 col-xs-2 ">

                        <img src="images/icons/gears.svg" alt=""> 
                    </div>
             <div class="col-md-10  col-xs-10">
                        <h3>Customizable</h3>
                        <p>All kinds of honeypot environments are available or can be created. For example a vulnerable Wordpress environment.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 icon-4 icon  col-xs-12 ">
                <div class="row">
                    <div class="icon-container col-md-2 col-xs-2 ">

                        <img src="images/icons/layers.svg" alt="">
                    </div>
                    <div class="col-md-10  col-xs-10">
                        <h3>Container Technology</h3>
                        <p>Our high-interaction honeypots are based on a container technology, each attacker will get it`s own personal environment.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6  icon-5 icon   col-xs-12">
                <div class="row">
                    <div class="icon-container col-md-2 col-xs-2 ">
                        <img src="images/icons/notebook.svg" alt="">
                    </div>
                    <div class="col-md-10  col-xs-10">
                        <h3>Extensive logs</h3>
                        <p> All traffic and files are being saved and analyzed. Memory dump is created, for the forensic analysis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 icon-6  icon  col-xs-12">
                <div class="row">
                    <div class="icon-container col-md-2 col-xs-2 ">

                        <img src="images/icons/adjustments.svg" alt="">
                    </div>
                    <div class="col-md-10  col-xs-10">
                        <h3>Run your own honeypot</h3>
                        <p>Customization not enough? Please, contact us for more information</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</section>
