<li>
    <a href="{{.Site.BaseURL}}#navbar" class="scrollto">Home</a>
</li>
<li>
    <a href="{{.Site.BaseURL}}#info" class="scrollto">About </a>
</li>
<li>
    <a href="{{.Site.BaseURL}}#stats" class="scrollto">Statistics </a>
</li>
<li>
    <a href="{{.Site.BaseURL}}#campaigns" class="scrollto">Campaigns </a>
</li>
<li>
    <a href="{{.Site.BaseURL}}#sponsors" class="scrollto">Sponsors </a>
</li>
<li>
    <a href="{{.Site.BaseURL}}#team" class="scrollto">Team </a>
</li>
<li>
    <a href="{{.Site.BaseURL}}#contact" class="scrollto">Contact</a>
</li>
<li>
    <a href="https://twitter.com/InternetSeToday" class="twitter-follow-button text-center" data-show-count="false">Twitter</a>
</li>
