<li>
    <a href="#navbar" class="scrollto">Home</a>
</li>
<li>
    <a href="#info" class="scrollto">About </a>
</li>
<li>
    <a href="#stats" class="scrollto">Statistics </a>
</li>
<li>
    <a href="#campaigns" class="scrollto">Campaigns </a>
</li>
<li>
    <a href="#sponsors" class="scrollto">Sponsors </a>
</li>
<li>
    <a href="#team" class="scrollto">Team </a>
</li>
<li>
    <a href="#contact" class="scrollto">Contact</a>
</li>
<li>
    <a href="https://twitter.com/internetsecuretoday" class="twitter-follow-button text-center" data-show-count="false">Twitter</a>
</li>
