<section id="sponsors">
    <div class="wrap">
        <div class="section-header">
            <h2>Our sponsors</h2>
            <p>We cannot exist without our sponsors. </p>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-6 col-sm-6 icon-1 icon col-xs-12">
                        <div class="row" style="margin-top: 0px">
                            <div class="icon-container col-md-2 col-xs-2 col-sm-6">
                                <img src="images/icons/gold-medal.png" alt="">
                            </div>
                            <div class="col-md-10 col-xs-10">
                                <a class="block-link" target="_blank" href="http://dutchsec.nl/">
                                    <h3>DutchSec</h3>
                                    <p>Designing and building security products and tooling.</p>
                                    <p class="read-more">Go to dutchsec.nl</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 icon-1 icon col-xs-12">
                        <div class="row" style="margin-top: 0px">
                            <div class="icon-container col-md-2 col-xs-2 col-sm-6">
                                <img src="images/icons/gold-medal.png" alt="">
                            </div>
                            <div class="col-md-10 col-xs-10">
                                <a class="block-link" target="_blank" href="http://ey.nl/">
                                    <h3>EY</h3>
                                    <p>Asking and answering the toughest questions to build a better working world.</p>
                                    <p class="read-more">Go to ey.nl</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
