<section id="stats">
    <div class="wrap">
        <div class="section-header">
            <h2>Statistics</h2>
            <hr>
            <div>
                <div>8130<br/>
                    disclosures

                </div>
                <div>
                    <div id="myStathalf" class="stats circle" data-dimension="250" data-text="8130" data-info="Responsible Disclosures" data-width="30" data-fontsize="38" data-percent="100" data-border="inline" data-fgcolor="#7ea568" data-backgroundcolor="#1c334d" data-fillcolor="#20334d" data-textbelow="false"></div>
                    <div id="myStathalf" class="stats circle" data-dimension="250" data-text="8130" data-info="Responsible Disclosures" data-width="30" data-fontsize="38" data-percent="100" data-border="inline" data-fgcolor="#7ea568" data-backgroundcolor="#1c334d" data-fillcolor="#20334d" data-textbelow="false"></div>
                    <div id="myStathalf" class="stats circle" data-dimension="250" data-text="8130" data-info="Responsible Disclosures" data-width="30" data-fontsize="38" data-percent="100" data-border="inline" data-fgcolor="#7ea568" data-backgroundcolor="#1c334d" data-fillcolor="#20334d" data-textbelow="false"></div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</section>
