<section id="stats">
    <div class="wrap">
        <div class="section-header">
            <h2>Statistics</h2>
            <p>The numbers resulting from our work</p>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <div class="inner-content text-center">

                    <div class="c100 p66 hovered center">
                        <span>10M</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>

                    <p>Sites scanned</p>

                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="inner-content text-center">

                    <div class="c100 p66 hovered center">
                        <span>8.130</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>

                    <p>Disclosures</p>

                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="inner-content text-center">

                    <div class="c100 p66 hovered center">
                        <span>1.460</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>

                    <p>Confirmed fixes</p>

                </div>
            </div>
        </div>
    </div>
    <br><br>
</section>
