<section id="team">
    <div class="wrap">
        <div class="section-header">
            <h2>Team</h2>
            <p>The guys and girls behind it (ok, just guys at the moment)</p>
            <hr>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">

                    <div class="col-md-6 col-sm-6 icon-1 icon col-xs-12">
                        <div class="row">
                            <div class="icon-container col-md-3 col-xs-3 col-sm-6">
                                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/4/000/164/3b1/102d12f.jpg"
                                     alt="">
                            </div>
                            <div class="col-md-9 col-xs-9">
                                <h3>Remco Verhoef</h3>
                                <p>Founder of Honeycast.io</p>
                                <p class="read-more">
                                    <a href="http://twitter.com/remco_verhoef">@remco_verhoef</a>
                                    <a href="https://hackerone.com/remco">hackerone</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 icon-1 icon col-xs-12">
                        <div class="row">
                            <div class="icon-container col-md-3 col-xs-3 col-sm-6">
                                <img src="https://media.licdn.com/media/p/1/005/036/116/27269a6.jpg" alt="">
                            </div>
                            <div class="col-md-9 col-xs-9">
                                <h3>Bas Eikelenboom</h3>
                                <p>Founder and Owner of Innovice-IT</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
