{{ partial "header.html" . }} 

<section id="home" class=" "   data-vide-bg="videos/honeytrap-background" data-vide-options="playbackRate: 0.7, position: 0% 0%">
  {{ partial "navbar.html" . }}
   
   <div class="color-overlay"></div>
    <div class="wrap">
        <div class=" hero-container animated fadeInUp">
            <div class="hero">
                <h1>Welcome to InternetSecure.today</h1>
                <p></p>
                <p>We scan the internet on vulnerabilities and security issues and report them.</p>
            </div>
        </div>
    </div>

</section>

{{ partial "info.html" . }}

<section id="text" class="dark-bg">
  <div class="color-overlay"></div>
   <div class="wrap">
        <p>Making the internet safer, one responsible disclosure at a time.</p>
    </div>
</section>

{{ partial "stats.html" . }}

<section id="text" class="dark-bg">
  <div class="color-overlay"></div>
   <div class="wrap">
        <p>Informing website owners.</p>
    </div>
</section>

{{ partial "campaigns.html" . }}

<section id="text" class="dark-bg">
  <div class="color-overlay"></div>
   <div class="wrap">
        <p>Protecting millions of users.</p>
    </div>
</section>

{{ partial "sponsors.html" . }}

<section id="text" class="dark-bg">
  <div class="color-overlay"></div>
   <div class="wrap">
        <p>BLABLA</p>
    </div>
</section>

{{ partial "team.html" . }}

<section id="text" class="dark-bg">
  <div class="color-overlay"></div>
   <div class="wrap">
        <p>Join us, join the network, let's collaborate! </p>
    </div>
</section>


<section id="contact">
   <div class="wrap">
    <div class="section-header">
        <h2>CONTACT US</h2>
        <p>For any question, concern or suggestion you have</p>
        <hr>
    </div>
    <a id="btn-contact" href="mailto:hello@internetsecure.today" class="btn btn-transparent ">REACH OUT</a>
    </div>
</section>

{{ partial "footer.html" . }}
{{ partial "javascript.html" . }}

</body>

</html>
